<div class="grid-container" [class.grid-ready]="isGridReady">
  <!-- Loading overlay to hide initial render -->
  <div class="grid-loading-overlay" *ngIf="!isGridReady">
    <div class="grid-loading-spinner"></div>
  </div>
  
  <div class="number-grid" [style.grid-template-columns]="gridColumns">
    <div class="virtual-cursor" 
         [class.selecting]="isSelecting"
         [style.transform]="'translate3d(' + cursorPosition.x + 'px, ' + cursorPosition.y + 'px, 0)'">
    </div>
    <div *ngFor="let number of numbers" 
         class="number-cell"
         [class.selected]="number.isSelected"
         [class.time-pattern]="number.isTimePattern"
         [class.hovered]="number.isHovered"
         [style.opacity]="number.opacity"
         [style.transform]="'translate(' + number.x + 'px, ' + number.y + 'px) scale(' + number.scale + ')'"
         [style.z-index]="number.isSelected ? 2000 : 'auto'">
      {{number.value}}
      <div *ngIf="number.isSelected" class="selection-indicator"></div>
    </div>
  </div>
</div> 